.env
*.log
/venv
/.idea
/.vscode
__pycache__/create.cpython-311.pyc
*.db
setup.cfg
/.mypy_cache
Dockerfile
docker-compose.yml

[coverage:run]
omit =
    */migrations/*
    */tests/*
    */venv/*
    */.venv/*
    */.mypy_cache/*
    */.pytest_cache/*
    */.git/*
    */.idea/*
    */.vscode/*
    */.vs/*


